@{
    Layout = null;
}

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;
@using EPAM.Task7.Awards.BLL.Interface;
@using EPAM.Task7.Common;
@using EPAM.Task7.Entities;
@using EPAM.Task7.Users.BLL;
@using EPAM.Task7.Users.BLL.Interface;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Razor;
@using System.Configuration;
@using System.Data;
@using System.Data.SqlClient;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangingUsersImg</title>
</head>
<body>
    <form action="~/pages/UserImgChange" method="post">

        <label>User's id:</label>
        <input type="number" name="uID" />
        <label>New img's url:</label>
        <input type="text" name="imgurl">

        <button type="submit">Submit</button>
        <button type="button" id="homeBtn">Home</button>
    </form>

    @{ if (IsPost)
        {
            int uID = int.Parse(Request.Params["uID"]);
            string url = Request.Params["imgurl"];

            using (var sqlConnection = new SqlConnection(ConfigurationManager.ConnectionStrings["Default"].ConnectionString))
            {
                var command = sqlConnection.CreateCommand();
                command.CommandText = "UserImgChange";
                command.CommandType = CommandType.StoredProcedure;

                var user = new User();

                user.Id = uID;
                user.url = url;

                SqlParameter parameterId = new SqlParameter("@Id", user.Id);
                command.Parameters.Add(parameterId);
                SqlParameter parameterUrl = new SqlParameter("@url", user.url);
                command.Parameters.Add(parameterUrl);

                sqlConnection.Open();
                var reader = command.ExecuteNonQuery();
            }
        }
    }
    <script src="~/js/homeButton.js"></script>
</body>
</html>
