@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MainPage</title>
</head>
<body>
    <section class="wrapper">
        <h2>Users management:</h2>
        <div class="userbuttons">
            <button class="button" id="addUser">Add User</button>
            <button class="button" id="delUser">Delete User</button>
            <button class="button" id="showUsers">Show all Users</button>
            <button class="button" id="getUserById">Get User by ID</button>
        </div>
        <h2>Awards management:</h2>
        <div class="userbuttons">
            <button class="button" id="addAward">Add Award</button>
            <button class="button" id="delAward">Delete Award</button>
            <button class="button" id="showAwards">Show all Awards</button>
            <button class="button" id="getAwardById">Get Award by ID</button>
            <button class="button" id="addAwardToUser">Add Award to User</button>
        </div>
        <h2>Changing Images:</h2>
        <div class="changebuttons">
            <button class="button" id="changeUserImg">Change User Image</button>
            <button class="button" id="changeAwardImg">Change Award Image</button>
        </div>
    </section>
    <script src="~/js/Scripts.js"></script>
</body>
</html>
