USE [master]
GO
/****** Object:  Database [EPAM.Task12.DB]    Script Date: 10.02.2019 16:53:05 ******/
CREATE DATABASE [EPAM.Task12.DB]
 CONTAINMENT = NONE
 ON  PRIMARY 

ALTER DATABASE [EPAM.Task12.DB] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EPAM.Task12.DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EPAM.Task12.DB]
GO
/****** Object:  Table [dbo].[Award]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Award](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[url] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Award] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[url] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[AddAward]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAward]
@Title NVARCHAR(50),
@url NVARCHAR(200) 
AS
BEGIN
	INSERT INTO Award (Title, url)
	VALUES (@Title, @url)
END
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddUser]

@Name NVARCHAR(50), 
@DateOfBirth DATE, 
@url NVARCHAR(200)

AS
BEGIN
	INSERT INTO [User] (Name, DateOfBirth, url)
	VALUES (@Name, @DateOfBirth, @url)
	
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteAward]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteAward]
@Id INT
AS
BEGIN
	DELETE FROM [Award] 
	WHERE Id = @Id 
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DeleteUser]

@Id INT

AS
BEGIN
	DELETE FROM [User] 
	WHERE Id = @Id 
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllAwards]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllAwards]

AS
BEGIN
	SET NOCOUNT ON;
	SELECT		A.Id,
				A.Title, 
				A.url 
	FROM [Award] A
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetAllUsers]

AS
BEGIN
	SET NOCOUNT ON;
	SELECT		U.Id,
				U.Name, 
				U.DateOfBirth, 
				U.url 
	FROM [User] U
END
GO
/****** Object:  StoredProcedure [dbo].[GetAwardById]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAwardById]
@Id int
AS
BEGIN
	SELECT * FROM [Award] WHERE Id=@Id
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 10.02.2019 16:53:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserById]
@Id int
AS
BEGIN
	SELECT * FROM [User] WHERE Id=@Id
END
GO
USE [master]
GO
